<?xml version="1.0"?>
<config>
    <modules>
        <Kwetal_Album>
            <version>0.1.1</version>
        </Kwetal_Album>
    </modules>
    <global>
        <blocks>
            <album>
                <class>Kwetal_Album_Block</class>
            </album>
        </blocks>
        <models>
            <album>
                <class>Kwetal_Album_Model</class>
                <resourceModel>album_resource</resourceModel>
            </album>
            <album_resource>
            	<class>Kwetal_Album_Model_Resource</class>
            	<entities>
            		<album>
            			<table>album_product</table>
            		</album>
            		<song>
            			<table>album_song</table>
            		</song>
            	</entities>
            </album_resource>
        </models>
        <helpers>
            <album>
                <class>Kwetal_Album_Helper</class>
            </album>
        </helpers>
        <resources>
            <album_setup>
                <setup>
                    <module>Kwetal_Album</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </album_setup>
		</resources>
        <catalog>
            <product>
                <type>
                    <album translate="label" module="album">
                        <label>Album</label>
                        <model>album/product_album_type</model>
                        <price_model>album/product_album_price</price_model>
                        <is_qty>1</is_qty>
                    </album>
                </type>
            </product>
        </catalog> 
    </global>
    <adminhtml>
        <layout>
            <updates>
                <album>
                    <file>album/album.xml</file>
                </album>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <album_product_save_after>
                        <type>singleton</type>
                        <class>album/observer</class>
                        <method>saveAlbumTabData</method>
                    </album_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>